<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}Fancy Hotel{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% endblock %}
</head>
<body>
  {% macro nav_links() -%}
    {% block nav_bar %}
    <li><a href="/">Home</a><li>
    <li><a href="/search_rooms">Make a Reservation</a></li>
    <li><a href="/add_card">Add Card</a></li>
    <li><a href="/update_search">Update Reservation</a></li>
    <li><a href="/cancel_search">Cancel Reservation</a></li>
    <li><a href="/view_reviews">View Reviews</a></li>
    <li><a href="/add_review">Add Review</a></li>
    {% endblock %}
  {%- endmacro %}
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Fancy Hotel</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        {{nav_links()}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {{nav_links()}}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="section">
      <div class="card white lighten-1">
        <div class="card-content">{% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script>
    $('.button-collapse').sideNav({
    menuWidth: 300, // Default is 240
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
  </script>
</body>
</html>
